.header {
    margin: 10% 34%;
}

#tag {
    margin-left: 27%;
}

.dBox{
    border: 1px solid gray;
    border-radius: 5%;
    margin-top: 3%;
    width: 35%;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 28% ;
    padding: 3%;
}

#memberlink{
    margin-top: 5%;
    margin-left: 35%;
}